/* defaults */

@font-face {
    font-family: 'A Iranian Sans';
    src: url('../fonts/iransans/AIranianSans.eot');
    src: url('../fonts/iransans/AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/AIranianSans.woff2') format('woff2'),
        url('../fonts/iransans/AIranianSans.woff') format('woff'),
        url('../fonts/iransans/AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/* navbar styles */
.app{
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    width: 70%;
    max-width: 700px;
    justify-content:space-between;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}
.logo{
    width: 300px;
    height: 20px;
    object-fit: contain;
}