/* defaults */

@font-face {
    font-family: 'A Iranian Sans';
    src: url('../fonts/iransans/AIranianSans.eot');
    src: url('../fonts/iransans/AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/AIranianSans.woff2') format('woff2'),
        url('../fonts/iransans/AIranianSans.woff') format('woff'),
        url('../fonts/iransans/AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-yellow: #F9B500;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/* navbar styles */
.app {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .main {
    list-style: none;
    display: flex;
    width: 70%;
    max-width: 700px;
    justify-content: space-between;
}

nav .main li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 1rem;
}

nav .main li a:hover {
    color: var(--main-yellow);
}

.logo {
    width: 300px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

/* ham menu */
.ham {
    height: 30px;
    cursor: pointer;
}

.ham span {
    width: 25px;
    height: 3px;
    background-color: #000;
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.ham:hover span {
    background-color: var(--main-yellow);
}

.ham.active span:nth-child(1) {
    background-color: var(--main-yellow);
    transform: rotate(-45deg) translateY(5.5px);
    transform-origin: center
}

.ham.active span:nth-child(2) {
    display: none;
}

.ham.active span:nth-child(3) {
    background-color: var(--main-yellow);
    transform: rotate(45deg) translateY(-5.5px);
    transform-origin: center
}

.menu {
    width: 100%;
    height: 0;
    list-style: none;
    visibility: hidden;
    overflow: hidden;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    border-right: 3px solid var(--main-yellow);
    border-left: 3px solid var(--main-yellow);
}

.menu.open {
    height: 120px;
    visibility: visible;

}

.menu a {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu a:hover {
    color: var(--main-yellow);
}

/* intro section */


.big-news {
    height: 400px;
}

.small-news {
    height: 188px;

}

.big-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
















/* media queries */


@media screen and (max-width: 992px) {
    nav .main {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    .ham {
        display: none;
    }

    .menu {
        display: none;
    }
}